<br/>
<h4>Maestro de Usuarios</h4>

<br/>
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
        *ngFor="let usuario of usuarios" (click)="select(usuario)"
        [class.active] = "usuario.id == seleccionado.id">
          <span class="badge badge-primary">{{ usuario.id }}</span>
          {{ usuario.username }} ({{ usuario.last_name }}, {{ usuario.first_name }})
        </li>
      </ul>

      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Editar...
          </div>
          <div class="form-group">
            <input id="username" name="username" type="text" class="form-control" [(ngModel)]="seleccionado.username" placeholder="Usuario" maxlength="150" required>
            <input id="first_name" name="first_name" type="text" class="form-control mt-3" [(ngModel)]="seleccionado.first_name" placeholder="Nombre" maxlength="30" required>
            <input id="last_name" name="last_name" type="text" class="form-control mt-3" [(ngModel)]="seleccionado.last_name" placeholder="Apellido" maxlength="150" required>
            <input id="email" name="email" type="email" class="form-control mt-3" [(ngModel)]="seleccionado.email" placeholder="Email" maxlength="254">
            <div class="mt-3">
              <div style="float: left; margin-left: 12px; margin-top: 6px;">Usuario Activo?</div>
              <div class="col-sm-8" style="float: left;">
                <input id="is_active" name="is_active" type="checkbox" class="form-control" [(ngModel)]="seleccionado.is_active" placeholder="Usuario Activo?" checked>
              </div>
            </div>
            <div class="clear" style="margin-left: 12px;">Tip: puede deshabilitar usuarios en lugar de eliminarlos.</div>
          </div>
          <!--<input id="date_joined" name="date_joined" type="text" class="form-control mt-3" [(ngModel)]="seleccionado.date_joined" placeholder="Fecha de Alta" readonly>
          <input id="last_login" name="last_login" type="text" class="form-control mt-3" [(ngModel)]="seleccionado.last_login" placeholder="Ultimo Login" readonly>-->
          <button class="btn btn-primary" (click)="addOrEdit()">{{ seleccionado.id === 0 ? 'Crear Nuevo' : 'Modificar' }}</button>
          <button class="btn btn-secondary ml-3 mr-5" *ngIf="seleccionado.id !== 0" (click)="cancel()">Cancelar</button>
          <button class="btn btn-danger ml-5" *ngIf="seleccionado.id !== 0" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <div *ngIf="loading">loading...</div>
  <div *ngIf="validaciones" style="white-space: pre;">{{ validaciones }}</div>
  <pre *ngIf="debug">debug:<br/>{{ debug | json }}</pre>
  <br/>
</div>
