<br/>
<h4>Cambio de password</h4>

<br/>
<div class="container">

  <div class="row">
    <div class="col-6">

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <br />
            <div class="form-group">
                <input type="password" class="form-control" formControlName="nuevaContraseña" placeholder="Nueva Contraseña" name="nuevaContraseña">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="repetirContraseña" placeholder="Repetir Contraseña" name="repetirContraseña">
            </div>
        
            <div *ngIf="!registroForm.invalid">
                <div class="align-center">
                <button class="btn btn-primary mt-4" type="submit" id="login">Cambiar Contraseña</button>
                </div>
            </div>
        </form>

    </div>
  </div>

  <br/><br/>
  <div *ngIf="mensaje">{{ mensaje }}</div>
</div>