/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.gridCell {
    min-width: 200px;
    width: 30%;
}

.gridCell-4 {
    min-width: 200px;
    width: 23%;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

input#is_active {
    width: auto;
}

input#is_active:focus{
    box-shadow:none;
}

.floatLeft {
    float: left;
    margin-right: 5px;
}

.clear {
    clear: both;
}
